.card-container:after,
.card-container:before {
  content: "";
  display: table;
  clear: both;
}

.card-container {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  color: $card-text-color;
  border-radius: $card-radius;
  width: 100%;
  min-width: 350px;
}

.result-card{
    padding: 0.01em 16px;
}

.result-card-header{
    color: #000 !important;
    background-color: #f1f1f1 !important;
    border-radius: $card-radius $card-radius 0 0;
    text-align: center;
}

.card-result-values{
    margin-bottom: 20px;
    width: 100%;
}

.card-result-value-content{
    width: 100%;
    display: flex;
}

.card-result-value-name{
    font-weight: bold;
    float: left;
    margin: 0 0 5px 0;
    width: 50%;
}

.card-result-value {
    color: $card-values-color;
    float: left;
    width: 40%;
    text-align: center;
}

.card-result-value-content .toggle{
    width: 10%;
    text-align: center;
}

.card-result-values .content {
    padding: 0 30px 0 30px;
    display: flex;
}

.content-property-name{
    font-style: italic;
    width: 60%;
    line-height: 1.25;
}

.content-property-value{
    color: $card-values-color;
    width: 40%;
    text-align: right;
}
