@import '../../node_modules/normalize.css/normalize';

@import 'assets/colors';
@import 'assets/variables';


body {
    color: $color;
    font-family: $font-family-main;
}

.header {
    padding: 5px 0 5px 0;
    text-align: center;
    background-color: $bg-color;
    color: white;
    font-size: 30px;
    margin: 10px 20px 5px 20px;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

@import 'components/autocomplete';
@import 'components/card';
@import 'components/collapsibles';
