@import '../../node_modules/normalize.css/normalize';

@import './assets/_colors.scss';
@import './assets/_variables.scss';

@import './_card.scss';
@import './collapsibles.scss';

body {
    color: $color;
    font-family: $font-family-main;
}

.header {
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: $bg-color;
    color: white;
    font-size: 30px;
    margin: 10px 20px 5px 20px;
 }

 input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
