@import '../../node_modules/normalize.css/normalize';
@import './_card.scss';

$color: #ee6644;
$bg-color: grey;
$font-family: "Segoe UI, Roboto, Ubuntu, Helvetica Neue, Arial, sans-serif";

body {
    color: $color;
    font-family: $font-family;
}

.header {
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: $bg-color;
    color: white;
    font-size: 30px;
    margin: 10px 20px 5px 20px;
 }

 input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
