$color: black;
$bg-color: grey;
$card-text-color: black;
$card-values-color:darkgray;
$autocomplete-border-color: #d4d4d4;
$autocomplete-bg-color: #fff;
$autocomplete-hover-bg-color: #0b7dda;
$autocomplete-active-bg-color: #0b7dda;
$autocomplete-active-color: #fff;
$search-button-background:#0A72C7;
$search-button-background-hover:#0b7dda;
$labels-color:#000C6B;
$search-button-font-color: white;
