/* Style the submit button */
.search-form button {
    padding: 8px;
    background: $search-button-background;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: $card-radius;
    position: relative;
    display: inline-block;
    color: black;
}

.search-form button:hover {
    background: $search-button-background-hover;
}

/* Clear floats */
.search-form::after {
    content: "";
    clear: both;
    display: table;
}

.search-form{
    display: flex;
    margin: 10px 20px 5px 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.search-form > * {
    margin: 15px 0 0 15px;
  }


.search-form::placeholder{
    font-size: 13px;
}

.search-form input[type=text]{
    width: 100%;
}

.flexButton{
    flex: auto;
    text-align: right;
}

.flexButton img{
    margin-right: 3px;
}

.search-form label{
    color: $labels-color;
}
