/* Style the submit button */
.search-form button {
    width: 35px;
    padding: 3px;
    background: $search-button-background;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: $card-radius;
    position: relative;
    display: inline-block;
}

.search-form button:hover {
    background: $search-button-background-hover;
}

/* Clear floats */
.search-form::after {
    content: "";
    clear: both;
    display: table;
}

.search-form{
    display: flex;
    margin: 10px 20px 5px 20px;
}

.search-form ::placeholder{
    font-size: 13px;
}
